<div>
<h1> Hello there ! <h1> 
</div>

<h2> Whats your name ? <h2> 

<form action='/birthday' method='post'>
  <input type="text" name="name">
<h2> What date is your next birthday? <h2> 
  <input type="date" name="bday">
  <div>
  <button> 
    <input type="submit" value="enter details">
  </button>
  </div>
</form> 
